
<div class="navbar" style="background-color: black;">
    <div class="icon">
        <h2 class="logo">LabLogix</h2>
    </div>

    <div class="menu">
        <ul>
            <li><a href="{{ url_for('home') }}">HOME</a></li>
            <li><a href="{{ url_for('AboutUs') }}">ABOUT</a></li>
            <li><a href="{{ url_for('myaccount') }}">ACCOUNT</a></li>
            <li class="dropdown">
                <a href="#" class="dropbtn">LAB MANAGEMENT</a>
                <div class="dropdown-content">
                    <a href="{{ url_for('addLab') }}">Add Lab</a>
                    <a href="{{ url_for('LabListing') }}">Lab Listing</a>
                    <a href="{{ url_for('addSoftware') }}">Add Software</a>
                    <a href="{{ url_for('SoftwareListing') }}">Software Listing</a>
                </div>

            </li>
            {% if session['username'] %}
            <h3 style="color: aqua;">Hello {{ session['fname'] }}</h3>
            <li><a href="{{ url_for('logout') }}">LOGOUT</a></li>
            {% else %}
            
            <li><a href="{{ url_for('login') }}">LOGIN</a></li>
            {% endif %}
            <li><a href="{{ url_for('Register') }}">REGISTER</a></li>
        </ul>
    </div>
</div>  
