<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
</head>

<body>

    <div class="hero">
        <div class="form-box">
            <div class="button-box">
                <div id="btn"></div>

                <button type="button" class="toggle-btn" onclick="register()">Register</button>
            </div>
            <div class="social-icons">
          
                <form id="register" class="input-group">
                    <input type="text" class="input-field" placeholder="User Id" required>
                    <input type="email" class="input-field" placeholder="Email Id" required>
                    <input type="password" class="input-field" placeholder="Enter Password" required>
                    <select class="role-select" required>
                        <option value="" disabled selected>Select Role</option>
                        <option value="admin">Admin</option>
                        <option value="professor">Professor</option>
                        <option value="assistant">Assistant</option>
                    </select>
                    <input type="checkbox" class="chech-box" id="agree-terms">
                    <label for="agree-terms">I agree to the terms & conditions</label>
                    <button type="submit" class="submit-btn">Register</button>
                </form>
            </div>
        </div>
    </div>

    <script>

        var y = document.getElementById("register");

        function register() {
            y.style.left = "50px";
        }
    </script>

</body>

</html>

